{% extends "base.html" %}
{% block title %}Company Settings{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header"><i class="fa-solid fa-building me-2"></i>Company Settings</div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            <button type="submit" class="btn btn-primary mt-3"><i class="fa-solid fa-check me-2"></i>Save Settings</button>
        </form>
    </div>
</div>
{% endblock %}
