{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="row justify-content-center"><div class="col-lg-8">
<div class="card">
    <div class="card-header"><i class="fa-solid fa-sitemap me-2"></i>{{ page_title }}</div>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            <div class="mt-4 d-flex gap-2">
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check me-2"></i>Save</button>
                <a href="{% url 'employees:department_list' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div></div>
{% endblock %}
